{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'image/svg/favicon.png' %}" rel="icon" type="image/png">
    <title>Home - SocialInfluex</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">

</head>

<body>
    <main>
    <div class="container" id="container">
      <div class="form-container sign-in-container">

        <form action="" method ="POST">
          {% csrf_token %} 
          <h1>SocialInfluex</h1>
          <h2>Sign in</h2>
          <input type="email" name = "email" placeholder="Email" required/>
          <input type="password" name = "password" placeholder="Password" required/>
          
          <!--show error message-->
          <div>
            <style>
                h5{
                    color: red;
                }
            </style>
            {% for message in messages %}
            <h5> {{message}}</h5>
            {% endfor %}
          </div>

          <a href="#">Forgot your password?</a>
          <button>Sign In</button>
        </form>
        
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>



<script>
  document.getElementById("signUp").onclick = function () {
      location.href = "/signup"; 
  };
  </script>